{%extends 'plantillaUser.html'%}
{%block content %}
    <div class="form-container">
        <h2>Editar datos del paciente</h2>
        <form action="" method="post">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="txtNombre" value="">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido Paterno</label>
                <input type="text" class="form-control" id="apellido" name="txtApePaterno" value="">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido Materno</label>
                <input type="text" class="form-control" id="apellido" name="txtApeMaterno" value="">
            </div>
            <div class="form-group">
                <label for="fechaNac">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="fechaNac" name="txtFecha" value="">
            </div>
            <div class="form-group">
                <label for="txtSexo">Sexo:</label>
                <select class="form-control" id="rol" name="txtSexo">
                    <option selected>Selecciona una opción</option>
                    <option value="1">Femenino</option>
                    <option value="2">Masculino</option>
                </select>
            </div>
            <button type="submit" class="btn btn-info">Guardar Cambios</button>
        </form>
    </div>
{%endblock%}