{% extends "plantilla.html" %}
{% block content %}

<div class="flex text-center mt-5">
    <h1>Consultar Pacientes</h1>
</div>
<script>
    var paciente = JSON.parse('{{paciente | tojson | safe}}');
    console.log(paciente);
</script>

<div class="container mt-5 d-flex ">

    <div class="container me-2">
        {%if session['id_rol']==2%}
        <table class="table table-custom mb-0 table-info text-center"  >
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Fecha de nacimiento</th>
                    <th>Antecedentes</th>
                    <th>Alergias</th>
                    <th>Enfermedades crónicas</th>
                    <th>Ver Citas</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {%for paciente in paciente%}
                <tr class="table-custom" >
                    <td>{{paciente[1]}}</td>
                    <td>{{paciente[2]}}</td>
                    <td>{{paciente[3]}}</td>
                    <td>{{paciente[4]}}</td>
                    <td>{{paciente[5]}}</td>
                    <td>{{paciente[6]}}</td>
                    <td>{{paciente[7]}}</td>
                    <td>
                        <a href="/mostrarCitas/{{paciente[0]}}">Ir</a>
                    </td>
                    <td>
                        <a href="/editarPacientes/{{paciente[0]}}">Editar</a>
                        <a href="/eliminarPaciente/{{paciente[0]}}">Eliminar</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%endif%}
 <!--   {%if session['id_rol']==1%}
        <table class="table table-custom mb-0 table-info text-center">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Fecha de nacimiento</th>
                    <th>Antecedentes</th>
                    <th>Alergias</th>
                    <th>Enfermedades crónicas</th>
                    <th>Medico encargado</th>
                    <th>Ver Citas</th>
                    <th>Opciones</th>
                </tr>

            </thead>
            <tbody>
                {%for paciente in paciente%}
                <tr class="table-custom">
                    <td>{{paciente[1]}}</td>
                    <td>{{paciente[2]}}</td>
                    <td>{{paciente[3]}}</td>
                    <td>{{paciente[4]}}</td>
                    <td>{{paciente[5]}}</td>
                    <th>{{paciente[6]}}</th>
                    <th>{{paciente[7]}}</th>
                    <td>{{paciente[9]}}</td>
                    <td>
                        <a href="/mostrarCitas/{{paciente[0]}}">Ir</a>
                    </td>
                    <td>
                        <a href="/editarPacientes/{{paciente[0]}}">Editar</a>
                        <a href="/eliminarPaciente/{{paciente[0]}}">Eliminar</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%endif%}
    -->

        <a href="/agregarPaciente" class="btn btn-primary mt-4" style="background-color: #0b6f9e; color: white;">Agregar
            Paciente</a>
    </div>

    <div class="card p-3 shadow-sm col-3" style="background-color: #b5e1ff;">
        <div class="card-body">
            <form action="/buscarPaciente" method="POST">
                <div class="form-group">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <div class="title mb-3">
                        <h2 class="text-center">Buscar expediente</h2>
                    </div>
                    <label class="mt-2" for="nombreExpediente">Nombre :</label>
                    <input type="text" class="form-control" name="txtNombre" id="nombreExpediente" placeholder="">
            
                    <label class="mt-2" for="apellidoPaterno">Apellido paterno:</label>
                    <input type="text" class="form-control" name="txtApePaterno" id="apellidoPaterno" placeholder="">
            
                    <label class="mt-2" for="apellidoMaterno">Apellido materno:</label>
                    <input type="text" class="form-control" name="txtApeMaterno" id="apellidoMaterno" placeholder="">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4" style="background-color: #0b6f9e; color: white;">Buscar</button>
                </div>
            </form>
            
        </div>
    </div>




</div>
{% endblock %}