{% extends 'plantilla.html' %}
{% block content %}

<div class="d-flex mt-5">

    <div class="container col-4">

        <h4>Citas del paciente:</h4>

        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01/07/2024</td>
                    <td>
                        <a href="/exploracionPaciente" class="btn text-success">Ver Cita</a>

                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>

    <div class="container col-3">
        <div class="title text-center mb-8">
            <h2>Citas del paciente</h2>
        </div>

        <div class="form-group">
            <label for="nombrePaciente">Nombre:</label>
            <input type="text" class="form-control" id="nombrePaciente" placeholder="Nombre del paciente">
        </div>

        <div class="form-group">
            <label for="nombrePaciente">Apellido paterno:</label>
            <input type="text" class="form-control" id="nombrePaciente" placeholder="Nombre del paciente">
        </div>

        <div class="form-group">
            <label for="nombrePaciente">Apellido materno:</label>
            <input type="text" class="form-control" id="nombrePaciente" placeholder="Nombre del paciente">
        </div>
        
        <div class="form-group">
            <label for="fechaCita">Fecha de cita</label>
            <input type="date" class="form-control" id="fechaCita">
        </div>
        <div class="col-md-12 mt-4">
            <div class="d-flex justify-content-end">
                <div class="text-center mt-6 mb-1">
                    <a class="btn btn-primary mt-4" style="background-color: #0b6f9e; color: white;" href="/agregarCita"> Agregar Cita</a>
                    <button type="submit" class="btn btn-primary mt-4" style="background-color: #0b6f9e; color: white;" >Buscar paciente</button>
                </div>
            </div>
        </div>  
    </div>
</div>




{% endblock %}
